body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #282c34;
    color: white;
  }
  
  .pitch-fader {
    width: 200px;
  }
  
  #leftMetronome, #rightMetronome {
    display: inline-block;
    margin: 0 20px;
  }
  